<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>322045337939-a1hhjdq4mhnll8vh6rcnshdm8oopq9b2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.322045337939-a1hhjdq4mhnll8vh6rcnshdm8oopq9b2</string>
	<key>API_KEY</key>
	<string>AIzaSyDnL4a4MqI6mzS_4IV_tHm20JbRWeqzkUA</string>
	<key>GCM_SENDER_ID</key>
	<string>322045337939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Linker</string>
	<key>PROJECT_ID</key>
	<string>linker-2524c</string>
	<key>STORAGE_BUCKET</key>
	<string>linker-2524c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:322045337939:ios:8ae3e58e7e911ada</string>
	<key>DATABASE_URL</key>
	<string>https://linker-2524c.firebaseio.com</string>
</dict>
</plist>